@{
    ViewBag.Title = "About";
}

<h2>
    <i class="fa fa-users" aria-hidden="true"></i>
    Coding Mafia Team
</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <div class="dialog-box-style">
            <h3><span class="main-circle-icon"><i class="fa fa-user mr3"></i></span>Nguyen Luong Huy</h3>
            <p>Student Id: 300913455</p>
            <p>Email: lnguye76@my.centennialcollege.ca</p>
        </div>
        <div class="arrow-bottom"></div>
        <img src="~/Content/m4.jpg" alt="people">
    </div>
    <div class="col-md-4">
        <div class="dialog-box-style">
            <h3><span class="main-circle-icon"><i class="fa fa-user mr3"></i></span>Jasmeet Singh</h3>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus etiam sem...</p>
        </div>
        <div class="arrow-bottom"></div>
        <img src="~/Content/m1.jpg" alt="people">
    </div>
    <div class="col-md-4">
        <div class="dialog-box-style">
            <h3><span class="main-circle-icon"><i class="fa fa-user mr3"></i></span>Omar Akabar</h3>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus etiam sem...</p>
        </div>
        <div class="arrow-bottom"></div>
        <img src="~/Content/m2.jpg" alt="people">
    </div>
    <div class="col-md-4">
        <div class="dialog-box-style">
            <h3><span class="main-circle-icon"><i class="fa fa-user mr3"></i></span>Shipra</h3>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus etiam sem...</p>
        </div>
        <div class="arrow-bottom"></div>
        <img src="~/Content/m3.jpg" alt="people">
    </div>
    <div class="col-md-4">
        <div class="dialog-box-style">
            <h3><span class="main-circle-icon"><i class="fa fa-user mr3"></i></span>Akash</h3>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus etiam sem...</p>
        </div>
        <div class="arrow-bottom"></div>
        <img src="~/Content/m5.png" alt="people">
    </div>
</div>

<div class="box-white mt5">
    <h4>
        <i class="fa fa-star-o" aria-hidden="true"></i>
        About Webshop project
    </h4>
    <p>Webshop is an real estate project which is built by Coding Mafia Team. This project is our assignment for COMP231 - Computer Programmer Project class.</p>
    <p>We will get A+ :)</p>
</div>