@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-md-8">
        <h2>
            <i class="fa fa-home" aria-hidden="true"></i>
            Properties
        </h2>
        <hr />
        <div class="grid-item grid-style-properties gridalicious">
         
            <div class="galcolumn">
                <div class="item">
                    <a href="#" class="with-hover">
                        <div class="for_rent_banner"></div>
                        <img alt="images" src="https://loremflickr.com/640/480/building1" class="full" style="width: 100%; height: auto; display: block; margin-left: auto; margin-right: auto;"><span class="mask_hover"></span>
                    </a>
                    <h4 class=" ">34 Central Park</h4>
                    <div class="preview-properties ">
                        <div class="box-detail">
                            <p class="text-center short-detail">
                                <span class="label label-default"><i class="fa fa-arrow-circle-right fa-1" aria-hidden="true"></i> Bath : 2</span>
                                <span class="label label-default"><i class="fa fa-arrow-circle-right fa-1" aria-hidden="true"></i> Beds : 2</span>
                                <span class="label label-default"><i class="fa fa-arrow-circle-right fa-1" aria-hidden="true"></i> Pool : 2</span>
                                <span class="price">$380,000</span>
                            </p>
                            <div class="clearfix">
                                <a href="#" class="btn-proper btn btn-small pull-left">See Detail</a>
                                <a href="#" class="btn-proper btn btn-small pull-right">Compare</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="galcolumn">
                <div class="item">
                    <a href="#" class="with-hover">
                        <div class="for_rent_banner"></div>
                        <img alt="images" src="https://loremflickr.com/640/480/building2" class="full" style="width: 100%; height: auto; display: block; margin-left: auto; margin-right: auto;"><span class="mask_hover"></span>
                    </a>
                    <h4 class=" ">34 Central Park</h4>
                    <div class="preview-properties ">
                        <div class="box-detail">
                            <p class="text-center short-detail">
                                <span class="label label-default"><i class="fa fa-arrow-circle-right fa-1" aria-hidden="true"></i> Bath : 2</span>
                                <span class="label label-default"><i class="fa fa-arrow-circle-right fa-1" aria-hidden="true"></i> Beds : 2</span>
                                <span class="label label-default"><i class="fa fa-arrow-circle-right fa-1" aria-hidden="true"></i> Pool : 2</span>
                                <span class="price">$380,000</span>
                            </p>
                            <div class="clearfix">
                                <a href="#" class="btn-proper btn btn-small pull-left">See Detail</a>
                                <a href="#" class="btn-proper btn btn-small pull-right">Compare</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="galcolumn">
                <div class="item">
                    <a href="#" class="with-hover">
                        <div class="for_rent_banner"></div>
                        <img alt="images" src="https://loremflickr.com/640/480/building3" class="full" style="width: 100%; height: auto; display: block; margin-left: auto; margin-right: auto;"><span class="mask_hover"></span>
                    </a>
                    <h4 class=" ">34 Central Park</h4>
                    <div class="preview-properties ">
                        <div class="box-detail">
                            <p class="text-center short-detail">
                                <span class="label label-default"><i class="fa fa-arrow-circle-right fa-1" aria-hidden="true"></i> Bath : 2</span>
                                <span class="label label-default"><i class="fa fa-arrow-circle-right fa-1" aria-hidden="true"></i> Beds : 2</span>
                                <span class="label label-default"><i class="fa fa-arrow-circle-right fa-1" aria-hidden="true"></i> Pool : 2</span>
                                <span class="price">$380,000</span>
                            </p>
                            <div class="clearfix">
                                <a href="#" class="btn-proper btn btn-small pull-left">See Detail</a>
                                <a href="#" class="btn-proper btn btn-small pull-right">Compare</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            

            <div id="clearP4agg" style="clear: both; height: 0px; width: 0px; display: block;"></div>
        </div>

    </div>
    <div class="col-md-4">
        <h2>
            <i class="fa fa-search" aria-hidden="true"></i>
            Search
        </h2>
        <hr />
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-8">
        <h2>
            <i class="fa fa-newspaper-o" aria-hidden="true"></i>
            News
        </h2>
        <hr />
        <div class=" news right-space">
            <div class="media box-white">
                <a class="pull-left" href="#">
                    <img alt="images" class="media-object" src="https://loremflickr.com/198/148/news">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">Investor Club</h4>
                    <p>
                        Vivamus diam diam, fermentum sed dapibus eget, egestas sed eros. Lorem fermentum ipsum dolor sit amet, ipsum dolor sit amet, consectetur fermentum adipiscing elit.
                        Vivamus diam diam, fermentum sed dapibus eget, egestas sed eros. Lorem fermentum ipsum dolor sit amet, ipsum dolor sit amet, consectetur fermentum adipiscing elit.
                    </p>
                    <a href="#" class="btn-proper btn btn-small ">Read More</a>
                </div>
            </div>
            <div class="media box-white">
                <a class="pull-left" href="#">
                    <img alt="images" class="media-object" src="https://loremflickr.com/198/148/people">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">Investor Club</h4>
                    <p>
                        Vivamus diam diam, fermentum sed dapibus eget, egestas sed eros. Lorem fermentum ipsum dolor sit amet, ipsum dolor sit amet, consectetur fermentum adipiscing elit.
                        Vivamus diam diam, fermentum sed dapibus eget, egestas sed eros. Lorem fermentum ipsum dolor sit amet, ipsum dolor sit amet, consectetur fermentum adipiscing elit.
                    </p>
                    <a href="#" class="btn-proper btn btn-small ">Read More</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <h2>
            <i class="fa fa-user-secret" aria-hidden="true"></i>
            Agents
        </h2>
        <hr />
    </div>
</div>