<div class="row">
    <div class="col-md-9">
        <h2>
            <i class="fa fa-pencil" aria-hidden="true"></i>
            New Property
        </h2>
        <hr />
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-3 control-label">Address</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control mw-100" placeholder="Address">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Images</label>
                <div class="col-sm-9">
                    <input type="file" multiple class="mw-100">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Postcode</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control mw-100">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Price</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control mw-100">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Description</label>
                <div class="col-sm-9">
                    <textarea type="text" class="form-control mw-100" rows="6" placeholder="Description"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Addtional Features</label>
                <div class="col-sm-9">
                    <textarea type="text" class="form-control mw-100" rows="6" placeholder="Addtional Features"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Year built</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control mw-100">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Type</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control mw-100">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Bathroom</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control mw-100">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Bedroom</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control mw-100">
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-sm-3 control-label">Sale/Rent</label>
                <div class="col-sm-9">
                    <label class="radio-inline">
                        <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="for_sale"> For Sale
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="for_rent"> For Rent
                    </label>
                    
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <button type="submit" class="btn btn-default btn-proper">Create</button>
                </div>
            </div>
        </form>
    </div>
</div>