
@{
    ViewBag.Title = "Properties";
}

<div class="row">
    <div class="col-md-9">
        <h2>
            <i class="fa fa-home" aria-hidden="true"></i>
            Properties
        </h2>
        <hr />
        <div class="list-properties right-space">
            <div class="property ">
                <div class="row">
                    <div class="col-md-6">
                        <div class="property-images">
                            <a href="#">
                                <div class="mask">
                                    <div class="desc-type for-sale">For Sale</div>
                                    <div class="price">€ 330.090</div>
                                </div>
                                <img src="https://loremflickr.com/640/480/building1" alt="property">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="property-details">
                            <h3><a href="#">086 Central Park Lion</a></h3>
                            <p>Vivamus diam diam, fermentum sed dapibus eget, egestas sed eros. Lorem fermentum ipsum dolor sit amet, ipsum dolor sit amet.</p>
                            <p>
                                <span class="label label-default"><i class="fa fa-arrow-circle-right fa-1"></i> Bath : 10</span>
                                <span class="label label-default"><i class="fa fa-arrow-circle-right fa-1"></i> Beds : 8</span>
                                <span class="label label-default"><i class="fa fa-arrow-circle-right fa-1"></i> Pool : 2</span>
                                <span class="label label-default"><i class="fa fa-arrow-circle-right fa-1"></i> Kicthen : 2</span>
                                <span class="label label-default"><i class="fa fa-arrow-circle-right fa-1"></i> Office : 3</span>
                                <span class="label label-default"><i class="fa fa-arrow-circle-right fa-1"></i> Music Room : 2</span>
                            </p>
                            <div class="agent-preview">
                                <div class="agent-image pull-left"><a href="#"><img src="https://loremflickr.com/500/300/face1" class="img-polaroid" alt="property"></a></div>
                                <div class="agent-contant pull-right">
                                    <ul class="unstyled pl0">
                                        <li><i class="fa fa-phone"></i> (+89)98732.984 </li>
                                        <li><i class="fa fa-envelope"></i> agent@company.com</li>
                                        <li><i class="fa fa-facebook"></i> angel</li>
                                        <li><i class="fa fa-twitter"></i> angel</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="property ">
                <div class="row">
                    <div class="col-md-6">
                        <div class="property-images">
                            <a href="#">
                                <div class="mask">
                                    <div class="desc-type for-sale">For Sale</div>
                                    <div class="price">€ 330.090</div>
                                </div>
                                <img src="https://loremflickr.com/640/480/building2" alt="property">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="property-details">
                            <h3><a href="#">086 Central Park Lion</a></h3>
                            <p>Vivamus diam diam, fermentum sed dapibus eget, egestas sed eros. Lorem fermentum ipsum dolor sit amet, ipsum dolor sit amet.</p>
                            <p>
                                <span class="label label-default"><i class="fa fa-arrow-circle-right fa-1"></i> Bath : 10</span>
                                <span class="label label-default"><i class="fa fa-arrow-circle-right fa-1"></i> Beds : 8</span>
                                <span class="label label-default"><i class="fa fa-arrow-circle-right fa-1"></i> Pool : 2</span>
                                <span class="label label-default"><i class="fa fa-arrow-circle-right fa-1"></i> Kicthen : 2</span>
                                <span class="label label-default"><i class="fa fa-arrow-circle-right fa-1"></i> Office : 3</span>
                                <span class="label label-default"><i class="fa fa-arrow-circle-right fa-1"></i> Music Room : 2</span>
                            </p>
                            <div class="agent-preview">
                                <div class="agent-image pull-left"><a href="#"><img src="https://loremflickr.com/500/300/face2" class="img-polaroid" alt="property"></a></div>
                                <div class="agent-contant pull-right">
                                    <ul class="unstyled pl0">
                                        <li><i class="fa fa-phone"></i> (+89)98732.984 </li>
                                        <li><i class="fa fa-envelope"></i> agent@company.com</li>
                                        <li><i class="fa fa-facebook"></i> angel</li>
                                        <li><i class="fa fa-twitter"></i> angel</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="property ">
                <div class="row">
                    <div class="col-md-6">
                        <div class="property-images">
                            <a href="#">
                                <div class="mask">
                                    <div class="desc-type for-sale">For Sale</div>
                                    <div class="price">€ 330.090</div>
                                </div>
                                <img src="https://loremflickr.com/640/480/building3" alt="property">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="property-details">
                            <h3><a href="#">086 Central Park Lion</a></h3>
                            <p>Vivamus diam diam, fermentum sed dapibus eget, egestas sed eros. Lorem fermentum ipsum dolor sit amet, ipsum dolor sit amet.</p>
                            <p>
                                <span class="label label-default"><i class="fa fa-arrow-circle-right fa-1"></i> Bath : 10</span>
                                <span class="label label-default"><i class="fa fa-arrow-circle-right fa-1"></i> Beds : 8</span>
                                <span class="label label-default"><i class="fa fa-arrow-circle-right fa-1"></i> Pool : 2</span>
                                <span class="label label-default"><i class="fa fa-arrow-circle-right fa-1"></i> Kicthen : 2</span>
                                <span class="label label-default"><i class="fa fa-arrow-circle-right fa-1"></i> Office : 3</span>
                                <span class="label label-default"><i class="fa fa-arrow-circle-right fa-1"></i> Music Room : 2</span>
                            </p>
                            <div class="agent-preview">
                                <div class="agent-image pull-left"><a href="#"><img src="https://loremflickr.com/500/300/face3" class="img-polaroid" alt="property"></a></div>
                                <div class="agent-contant pull-right">
                                    <ul class="unstyled pl0">
                                        <li><i class="fa fa-phone"></i> (+89)98732.984 </li>
                                        <li><i class="fa fa-envelope"></i> agent@company.com</li>
                                        <li><i class="fa fa-facebook"></i> angel</li>
                                        <li><i class="fa fa-twitter"></i> angel</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>

        <nav aria-label="Page navigation"><ul class="pagination pagination-lg"> <li> <a href="#" aria-label="Previous"> <span aria-hidden="true">«</span> </a> </li> <li><a href="#">1</a></li> <li><a href="#">2</a></li> <li><a href="#">3</a></li> <li><a href="#">4</a></li> <li><a href="#">5</a></li> <li> <a href="#" aria-label="Next"> <span aria-hidden="true">»</span> </a> </li> </ul> </nav>
    </div>
    <div class="col-md-3">
        <h2>
            <i class="fa fa-search" aria-hidden="true"></i>
            Search
        </h2>
        <hr />
        <form class="bottom-line line-before" action="?" method="get">
            <div class="form-group">
                <label>Location</label>
                <input type="text" placeholder="Type Your Location" name="" value="" class="input-block-level form-control" required="">
            </div>
            <div class="form-group">
                <label>Radius</label>
                <select name="" class="input-block-level form-control" required="">
                    <option value="">This area only</option>
                    <option value="">Within 1/4 mile</option>
                    <option value="">Within 1/2 mile</option>
                    <option value="">Within 1 mile</option>
                    <option value="">Within 3 miles</option>
                    <option value="">Within 5 miles</option>
                    <option value="">Within 10 miles</option>
                    <option value="">Within 15 miles</option>
                    <option value="">Within 20 miles</option>
                    <option value="">Within 30 miles</option>
                    <option value="">Within 40 miles</option>
                </select>
            </div>
            <div class="control-group-form">
                <div class="control-group half pull-left">
                    <label class="control-label">Min Price</label>
                    <div class="controls">
                        <select name="" class="input-block-level form-control" required="">
                            <option value="">All</option>
                            <option value="1">1000</option>
                            <option value="9">2000</option>
                            <option value="9">3000</option>
                            <option value="9">4000</option>
                            <option value="9">5000+</option>
                        </select>
                    </div>
                </div>
                <div class="control-group half text-right pull-right">
                    <label class="control-label">Max Price</label>
                    <div class="controls">
                        <select name="" class="input-block-level form-control" required="">
                            <option value="">All</option>
                            <option value="1">10000</option>
                            <option value="9">20000</option>
                            <option value="9">30000</option>
                            <option value="9">40000</option>
                            <option value="9">50000+</option>
                        </select>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="control-group-form">
                <div class="control-group half pull-left">
                    <label class="checkbox">
                        <input type="checkbox"> Rent Property
                    </label>
                </div>
                <div class="control-group half text-right pull-right">
                    <label class="checkbox">
                        <input type="checkbox"> Sell Property
                    </label>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="form-group">
                <label>Bath</label>
                <select name="" class="input-block-level form-control" required="">
                    <option value="">All</option>
                    <option value="1">1</option>
                    <option value="9">2</option>
                    <option value="9">3</option>
                    <option value="9">4</option>
                    <option value="9">5+</option>
                </select>
            </div>
            <div class="form-group">
                <label>Beds</label>
                <select name="" class="input-block-level form-control" required="">
                    <option value="">All</option>
                    <option value="1">1</option>
                    <option value="9">2</option>
                    <option value="9">3</option>
                    <option value="9">4</option>
                    <option value="9">5+</option>
                </select>
            </div>
            <button type="submit" class="input-block-level btn-proper btn btn-large"> Search</button>
        </form>
    </div>
</div>

