body {
    padding-top: 50px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#navigation {
    background-color: #5c5c5c;
    border-bottom: 1px solid #141414;
}

.navbar-inverse .btn-navbar {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    background-color: #0e0e0e;
    background-image: -moz-linear-gradient(top,#151515,#040404);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#151515),to(#040404));
    background-image: -webkit-linear-gradient(top,#151515,#040404);
    background-image: -o-linear-gradient(top,#151515,#040404);
    background-image: linear-gradient(to bottom,#151515,#040404);
    background-repeat: repeat-x;
    border-color: #040404 #040404 #000;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff151515',endColorstr='#ff040404',GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient;
}

.navbar .nav > li > a {
    letter-spacing: 1px;
    text-shadow: none;
    color: white;
}

.navbar-inverse .navbar-brand {
    color: white;
}
#main-title-content {
    height: 200px;
    border-bottom: 1px solid #858585;
    position: relative;
    text-shadow: 0 1px 2px black;
    color: white;
}

 #main-title-content #bg {
    position: absolute;
    width: 100%;
    z-index: -2;
    height: 200px;
    overflow: hidden;
    top: 0;
    left: 0;
}

#main-title-content h1 {
    font-size: 70px;
    color: white;
    padding: 45px 0 25px;
    font-weight: normal;
    margin: 0;
}

#content .grid-style-properties {
    margin-top: 10px;
}

#content .grid-style-properties .galcolumn {
    width: 32.9258%;
    padding-left: 10px;
    padding-bottom: 10px;
    float: left;
    box-sizing: border-box;
}
#content .grid-style-properties .item {
    margin-bottom: 10px;
    zoom: 1;
    opacity: 1;
}
.grid-style-properties .item a.with-hover {
    position: relative;
    display: block;
}

#content .grid-style-properties h4 {
    margin: 0;
    color: white;
    padding: 10px;
    background: #3D3D3D;
    text-align: center;
}

#content .grid-style-properties {
    margin-left: -10px;
    margin-right: -10px;
}

#content .grid-style-properties .preview-properties {
    border: 1px solid #ccc;
    padding: 10px;
}

#content .grid-style-properties .short-detail {
    margin-bottom: 0;
}

.text-center {
    text-align: center;
}

#content .grid-style-properties .price {
    display: block;
    padding: 10px;
    font-size: 18px;
}

.btn-proper {
    -moz-box-shadow: inset 0 0 0px 0 #000;
    -webkit-box-shadow: inset 0 0 0px 0 #000;
    box-shadow: inset 0 0 0px 0 #000;
    background: #353535 !important;
    border: solid 1px #141414;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    font-weight: normal;
    text-shadow: none;
    color: white;
}
.btn-proper:hover {
    color: white;
}

.new .media img {
    height: 148px;
    
}

#footer-wrapper {
    text-shadow: black 0px 1px 0px;
    color: rgb(194, 194, 194);
    min-height: 70px;
    background: rgb(92, 92, 92);
}

#footer {
    font-size: 11px;
    background: #141414;
}

#footer-twit {
    border-top: 1px solid #141414;
    padding: 10px 0;
    background: #3D3D3D;
    min-height: 40px;
}

#footer-top {
    padding: 30px 0;
    position: relative;
}

ul.unstyled.list-link {
    padding-left: 15px;
}

#footer-top a {
    color: #C2C2C2;
}

ul.contact {
    list-style: none;
    padding-left: 0;
}
.footer-subscribe p {
    margin-top: 0px;
}

.preview-properties {
    background: white;
}
body {
    background-image: url(/Content/diagonal-noise.png);
}

hr {
    border-top: 1px solid #858585;
}

#content .list-items {
    clear: both;
    padding-bottom: 10px;
}
#content .list-items .item {
    -webkit-transition: all 0.25s ease-out 0s;
    -moz-transition: all 0.25s ease-out 0s;
    -ms-transition: all 0.25s ease-out 0s;
    -o-transition: all 0.25s ease-out 0s;
    transition: all 0.25s ease-out 0s;
}
#content .list-items .item {
    background: white;
    clear: both;
    -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.2);
    box-shadow: 0px 1px 1px rgba(0,0,0,0.2);
    margin-bottom: 15px;
}
#content .list-items .item .img-preview {
    float: left;
    width: 100px;
    margin-right: 10px;
}
#content .list-items .item-desk .location {
    font-size: 70%;
}
#content .list-items .item-desk .title h3 {
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    line-height: 20px;
    padding: 0;
    padding-top: 5px;
}
.btn-mini {
    padding: 0 6px;
    font-size: 10.5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.property {
    margin-bottom: 30px;
}
.property .property-images {
    position: relative;
}
.property .property-images .mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: all 1s ease-out 0s;
    -moz-transition: all 1s ease-out 0s;
    -ms-transition: all 1s ease-out 0s;
    -o-transition: all 1s ease-out 0s;
    transition: all 1s ease-out 0s;
}
.property .for-sale {
    background: #FF6666;
}
.property .desc-type {
    position: absolute;
    top: 0;
    padding: 10px;
    left: 0;
    color: white;
    font-size: 18px;
}
.property .property-images .price {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #333;
    background: rgba(0,0,0,0.6);
    padding: 15px;
    font-weight: 300;
    color: white;
    font-size: 35px;
}
.property .property-details h3 {
    background: white;
    margin: 0;
    position: relative;
    padding: 10px;
    margin-bottom: 10px;
}
.property .property-details h3 a {
    text-decoration: none;
    color: #707070;
    padding-top: 20px;
    padding-left: 15px;
}
.property .agent-preview .agent-image {
    width: 35%;
    display: block;
    box-sizing: border-box;
}
.property .agent-preview .agent-contant {
    width: 60%;
    display: block;
    box-sizing: border-box;
}
ul.unstyled, ol.unstyled {
    margin-left: 0;
    list-style: none;
}
.img-polaroid {
    padding: 4px;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}
body {
    color: #707070;
}
.property .property-details h3:before {
    content: "";
    position: absolute;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid white;
    left: -10px;
    bottom: 20px;
}
.pagination ul {
    display: inline-block;
    margin-bottom: 0;
    margin-left: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.05);
    box-shadow: 0 1px 2px rgba(0,0,0,0.05);
}
.pagination ul>li>a, .pagination ul>li>span {
    float: left;
    padding: 4px 12px;
    line-height: 20px;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
    border-left-width: 0;
}

.pagination-lg a {
    color: #707070;
}

#content .dialog-box-style {
    padding: 10px;
    background: white;
    margin-top: 15px;
}

#content .arrow-bottom {
    border-left: 10px solid transparent;
    border-top: 10px solid white;
    border-right: 10px solid transparent;
    position: absolute;
    width: 1px;
    margin-left: 20px;
}

#content .box-white {
    background: white;
    box-shadow: 0 1px 1px #858585;
    padding: 10px;
    margin-bottom: 10px;
}
.half {
    width: 49%;
}