body {
    padding-top: 50px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#navigation {
    background-color: #5c5c5c;
    border-bottom: 1px solid #141414;
}

.navbar-inverse .btn-navbar {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    background-color: #0e0e0e;
    background-image: -moz-linear-gradient(top,#151515,#040404);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#151515),to(#040404));
    background-image: -webkit-linear-gradient(top,#151515,#040404);
    background-image: -o-linear-gradient(top,#151515,#040404);
    background-image: linear-gradient(to bottom,#151515,#040404);
    background-repeat: repeat-x;
    border-color: #040404 #040404 #000;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff151515',endColorstr='#ff040404',GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient;
}

.navbar .nav > li > a {
    letter-spacing: 1px;
    text-shadow: none;
    color: white;
}

.navbar-inverse .navbar-brand {
    color: white;
}
#main-title-content {
    height: 200px;
    border-bottom: 1px solid #858585;
    position: relative;
    text-shadow: 0 1px 2px black;
    color: white;
}

 #main-title-content #bg {
    position: absolute;
    width: 100%;
    z-index: -2;
    height: 200px;
    overflow: hidden;
    top: 0;
    left: 0;
}

#main-title-content h1 {
    font-size: 70px;
    color: white;
    padding: 45px 0 25px;
    font-weight: normal;
    margin: 0;
}

#content .grid-style-properties {
    margin-top: 10px;
}

#content .grid-style-properties .galcolumn {
    width: 32.9258%;
    padding-left: 10px;
    padding-bottom: 10px;
    float: left;
    box-sizing: border-box;
}
#content .grid-style-properties .item {
    margin-bottom: 10px;
    zoom: 1;
    opacity: 1;
}
.grid-style-properties .item a.with-hover {
    position: relative;
    display: block;
}

#content .grid-style-properties h4 {
    margin: 0;
    color: white;
    padding: 10px;
    background: #3D3D3D;
    text-align: center;
}

#content .grid-style-properties {
    margin-left: -10px;
    margin-right: 10px;
}

#content .grid-style-properties .preview-properties {
    border: 1px solid #ccc;
    padding: 10px;
}

#content .grid-style-properties .short-detail {
    margin-bottom: 0;
}

.text-center {
    text-align: center;
}

#content .grid-style-properties .price {
    display: block;
    padding: 10px;
    font-size: 18px;
}

.btn-proper {
    -moz-box-shadow: inset 0 0 0px 0 #000;
    -webkit-box-shadow: inset 0 0 0px 0 #000;
    box-shadow: inset 0 0 0px 0 #000;
    background: #353535 !important;
    border: solid 1px #141414;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    font-weight: normal;
    text-shadow: none;
    color: white;
}

.new .media img {
    height: 148px;
    
}

#footer-wrapper {
    text-shadow: black 0px 1px 0px;
    color: rgb(194, 194, 194);
    min-height: 70px;
    background: rgb(92, 92, 92);
}

#footer {
    font-size: 11px;
    background: #141414;
}

#footer-twit {
    border-top: 1px solid #141414;
    padding: 10px 0;
    background: #3D3D3D;
    min-height: 40px;
}

#footer-top {
    padding: 30px 0;
    position: relative;
}

ul.unstyled.list-link {
    padding-left: 15px;
}

#footer-top a {
    color: #C2C2C2;
}

ul.contact {
    list-style: none;
    padding-left: 0;
}
.footer-subscribe p {
    margin-top: 0px;
}